<h1>Dealerships#show</h1>
<p><%= @dealership.name %></p>
<%= link_to 'Delete', dealership_path(@dealership), method: :destroy %>
<%= link_to 'Edit', edit_dealership_path(@dealership) %>
<%= link_to 'Car_index', dealership_cars_path(@dealership) %>
<%= link_to 'Home', root_path %>
